.weather-forecast {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.weather-forecast-day {
  text-align: center;
  flex: 1;
}

.weather-forecast-date {
  font-size: 16px;
  color: rgba(39, 33, 66, 0.4);
  margin-bottom: 8px;
}

.weather-forecast-icon {
  width: 88px;
  height: 88px;
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  font-size: 32px;
}

.weather-forecast-temperatures {
  text-align: center;
  color: #f65282;
  margin-top: -20px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.weather-forecast-temperature {
  padding: 0 10px;
}
