body {
  background-color: #f9f7fe;
  margin: 0;
  padding: 0;
}

header {
  border-bottom: 1px solid #f9f7fe;
}

.search-form-input {
  background-color: #f9f7fe;
  border: none;
  border-radius: 6px;
  width: 80%;
  font-size: 16px;
  padding: 15px 20px;
}

.search-form-button {
  background: #6c5ce7;
  border: none;
  border-radius: 6px;
  color: white;
  font-size: 16px;
  padding: 15px 30px;
  margin-left: 5px;
}
